/*estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fondo-home{
  width: 100%; height: 100vh; 

  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center center;

/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
background-color: #6699;

text-align: center;
display: flex;
align-items: center;
  justify-content: center;
  }


.btn-google {
  background: pink;
  /*linear-gradient(294deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%)*/
  width: 20%;
  height: 35px;
  border-radius: 7px;
  text-align: center;
  border: 4px blue; 
  border-style: solid;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  font-size: x-large;
  font-weight:600;
  cursor: pointer;
  width: 200px;

}

.btn-google:hover {
  background: blue;
}
